@font-face {
    font-family: 'CourierNew';
    src: url('./fonts/CourierNew.woff') format('truetype');

}

body {
    font-family: 'CourierNew', 'Courier New', Courier, monospace; 
    background-color: white;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fdfdfd00;
    z-index: 1001; /* Поверх боковой панели */
    position: relative;
}

.header img {
    margin: 0;
    height: 45px; /* Set height to 70px */
    z-index: 1001; /* Чтобы текст не перекрывался */
}

.top-right-button {
    background-color: #f7f7f7;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
}

.top-right-button:hover {
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}


.sidebar {
    width: 250px;
    background-color: #ffffff;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px; /* Панель скрыта по умолчанию */
    z-index: 1000;
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0; /* Показываем боковое меню при открытии */
}

.sidebar ul {
    list-style: none;
    padding: 10px;
    margin: 300px 0;
}

.sidebar ul li {
    margin-bottom: initial; /* Добавляем минимальный отступ между элементами */
}

.sidebar ul li a {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    display: block; /* Чтобы весь элемент был кликабельным */
    padding: 5px; /* Добавляем отступы для кликабельной области */
    border-radius: 5px; /* Закругляем углы */
}

.sidebar ul li a:hover {
    background-color: #e0e0e0; /* Цвет фона при наведении */
}

/* Основной контейнер с товарами */
.container-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-left: 0; /* Убираем отступ, так как панель скрыта */
    transition: margin-left 0.3s ease;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.product {
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    filter: none; /* Убираем размытие */
    opacity: 1; /* Убираем прозрачность */
    transition: none; /* Убираем переход */
}


.product h3 {
    margin: 15px 0 5px;
    font-size: 16px;
    color: black;
}

.product p {
    color: #888;
    font-size: 14px;
}

.product .price {
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.product .availability {
    color: red;
    font-size: 14px;
}

/* Кнопка гамбургер для ПК и мобильных устройств */
.hamburger {
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    z-index: 1001;
    position: absolute;
    top: 15px;
    right: 40px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
    transition: 0.4s;
}

/* Анимация для гамбургера при открытом меню */
.hamburger.open div:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger.open div:nth-child(2) {
    opacity: 0;
}

.hamburger.open div:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Overlay для затемнения фона */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 999;
}

.overlay.active {
    display: block;
}

/* Адаптация для мобильных устройств */
@media (max-width: 768px) {
    .container-wrapper {
        margin-left: 0;
    }

    .container {
        grid-template-columns: repeat(1, 1fr); /*  товара в ряд */
    }

    .product img {
        max-width: 300px; /* Уменьшение размеров на мобильной версии */
    }

    .product h3 {
        font-size: 14px;
    }

    .product p {
        font-size: 12px;
    }

    .product .price {
        font-size: 16px;
    }

    .product .availability {
        font-size: 12px;
    }
}



  
  .newblock {
    display: flex;
    justify-content: flex-start; /* Выравнивание по левому краю */
    align-items: flex-start; /* Выравнивание по верхнему краю */
    width: 100vw; /* Ширина блока на весь экран */
    overflow: hidden; /* Скрываем всё, что выходит за пределы */
    background-color: #ffffff;
    height: auto; /* Высота блока */
    padding: 20px; /* Отступы внутри блока */
    box-sizing: border-box; /* Учитываем padding в ширине блока */
}

    .content {
        color: #fff; /* Цвет текста */
    }

    .title {
        font-size: 2.5rem; /* Размер шрифта заголовка */
        color: #ff0000;
        margin: 0; /* Убираем отступы */
    }

    .description {
        font-size: 1.2rem; /* Размер шрифта описания */
        margin: 10px 0 0; /* Отступ сверху и снизу */
    }

    @media (max-width: 768px) { /* Стили для мобильных устройств */
        .title {
            font-size: 1.8rem; /* Уменьшенный размер заголовка */
        }
        
        .description {
            font-size: 1rem; /* Уменьшенный размер описания */
        }
        
        .newblock {
            height: auto; /* Автоматическая высота на мобильных устройствах */
        }
    }


  .marqueeNew {
    display: flex;
    width: 100vw; /* Ширина блока на весь экран */
    overflow: hidden; /* Скрываем всё, что выходит за пределы */
    background-color: #000000;
    height: 50px; /* Высота блока */
    align-items: center; /* Центрирование текста по вертикали */
  }
  
  .marqueeNew-content {
    display: inline-block;
    white-space: nowrap; /* Текст не переносится на новую строку */
    font-size: 30px;
    color: #fcfcfc;
    font-weight: bold;
    animation: marqueeNew 15s linear infinite; /* Бесконечная анимация, увеличено время */
  }
  
  @keyframes marqueeNew {
    0% {
      transform: translateX(0); /* Начальная позиция */
    }
    100% {
      transform: translateX(-50%); /* Полный сдвиг на половину ширины блока */
    }
  }
  
  
  .marqueeNew-content:not(:first-child) {
    margin-left: -10px; /* Уменьшаем пробел между блоками текста */
  }
